<div #container class="note-card-container">
  <div class="note-card-content">
    <div class="note-id" style="display: none;">{{ id }}</div>
    <h1 class="note-card-title">{{ title }}</h1>
  <div #bodyText class="note-card-body">
<p>{{ body }}</p>
<div #truncator class="fade-out-truncate"></div>

  </div>
        <button
        mat-icon-button
          color="warn"
          aria-label="Example icon button with a filter list icon" (click)="$event.preventDefault(); $event.stopPropagation();deleteNote(id)" class="x-button"
        >
          <mat-icon>clear</mat-icon>
        </button>
        <button
        mat-icon-button
          color="primary"
          aria-label="Example icon button with a filter list icon" (click)="$event.preventDefault(); $event.stopPropagation();markFavourite(id)" class="fav-button" style="color: orange;"
        >
        <i [ngClass]="favourite ? 'fas fa-star fa-lg':'far fa-star fa-lg'"></i>
        </button>
</div>
