.main-container
{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
  max-width: 500px;
}
.notes-list
 {
   margin-top: 35px;
 }


app-notecard,app-folders {
  display: block;
  margin-bottom: 25px;
}

