<div class="main-container">

  <div class="search-bar-container">

    <!-- <div class="control has-icons-left has-icons-right">
      <input class="input" type="text " placeholder="Search">
      <span class="icon is-small is-right">
        <i class="fas fa-search"></i>
      </span>
    </div> -->
  </div>
  <div *ngIf="folderNotesflag == false" class="notes-list">
    <app-notecard *ngFor="let note of noteslist;" (click)="openNote(note.id)" [id]="note.id" [title]="note.title" [body]="note.note" [favourite] = "note.favourite"></app-notecard>
    <!-- <app-notecard></app-notecard> -->
  </div>
  <div *ngIf="folderNotesflag == true" class="notes-list">
    <app-folders *ngFor="let folder of folderslist;" (click)="openFolder(folder.folderID)" [id]="folder.folderID" [title]="folder.foldername" ></app-folders>
    <!-- <app-notecard></app-notecard> -->
  </div>
</div>
