<form #noteDetails = "ngForm" (ngSubmit) = "addNote(noteDetails.value)">
    <div class="title">
        <input type="text" name="noteTitle" [(ngModel)]="noteTitle" id="noteT" placeholder="Title">
    </div>
    <div *ngIf="folderNotesflag==true" class="note">
        <textarea class="textarea is-primary" name="note" id="noteT" cols="30" [(ngModel)]="noteT"></textarea>
    </div>
    <div *ngIf="folderNotesflag==true" class="folderList">
      <div *ngFor="let folder of foldersList">
        <label>
            <input type="checkbox"
                   name="options"
                   class="folderBox"
                   value="{{folder.folderID}}"
                   (change)="updateCheckedOptions(folder.folderID, $event)" />
            {{folder.foldername}}
        </label>
    </div>
  </div>
  <div style="margin=auto; width: 100%; margin-top: 30px;"><button class="button is-success is-rounded is-large" type = "submit" style="
    left: 50%;
    transform: translateX(-50%);
">Make</button>
  </div>

</form>
